# Python bytecode
__pycache__/
*.py[cod]
.pytest_cache/

# Environments
.env
.venv/
env/

# Chrome profiles & local data
chrome_profile/
**/chrome_profile/
spark-warehouse/
logs/
dbt_transformation/logs/

# Temporary office files
~$*.docx

# Data files
*.parquet
*.csv
*.json
*.pyc
hasil_scrapping.csv